:root{
    --colorPalette1-1: #3b6021;
    --colorPalette1-2: #8c4a2f;/*#8b4513e6  #8c4a2f*/
    --colorPalette1-3: #f1e7c8;/*#d2b48c*/
    --colorPalette1-4: #bc570a;

    --colorPalette1-1A:  #3b6021cc;
    --colorPalette1-2A:  #8c4a2f80;

    --colorPalette1-1-claro: #5a8231;


    --color-principal:   var(--colorPalette1-1); /* Verde */
    --color-secundario:  var(--colorPalette1-2); /* Marrón */
    --color-fondo:       var(--colorPalette1-3); /* Beige */
    --color-interactivo: var(--colorPalette1-4); /* Naranja */

    --color-principalA:  var(--colorPalette1-1A);
    --color-secundarioA: var(--colorPalette1-2A);

    --color-principal-claro:  var(--colorPalette1-1-claro);

    --color-boxShadow:  #0000001a;
    --color-boxShadow2: #39110040;
}