@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    src: url('../fonts/JokermanStd.otf') format('opentype');
    font-family: 'Jokerman';
}

  :root {
    --color-principal: #3b6021; /* Verde */
    --color-secundario: #8c4a2f; /* Marrón */
    --color-fondo: #f1e7c8; /* Beige */
    --color-interactivo: #BC570A; /* Naranja */
}
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', serif;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-fondo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-interactivo);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1; 
}

.titulo{
    font-family: 'Jokerman', serif;
    color: #f1e7c8;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-principal);
}

.titulo.desktop {
    display: inline;
  }
  
.titulo.mobile, .icono-volver {
    display: none;
  }

.nav-list{
    display: flex;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: var(--color-fondo);
}

.nav-list li a.active {
    background-color: var(--color-fondo); 
    color: var(--color-interactivo);
    padding: 0.2rem;
    border-radius: 10px;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

footer {
    color: var(--color-fondo);
    padding: 15px;
    background-color: var(--color-principal);
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 100%;
}
footer a{
    color: var(--color-fondo);
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: inline;
}

.foto-principal img {
    width: 100%;
    height: 75vh;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 10px 10px -10px rgba(139, 69, 19, 0.9);
    object-position: bottom;
    object-fit: cover;
}

.descripcion p {
    font-size: 22px;
    text-align: center;
    margin: 0.5rem 1rem 1.5rem 1rem;
    color: var(--color-principal);
}
.funciones{
    width: 20rem;
    height: 15rem;
    padding: 5rem;;
    border-radius: 30px;
} 
.funciones tr td{
    display: block;
}  

.funciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color: var(--color-fondo);
    border: 2px solid var(--color-secundario);
}

.funciones h2 {
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
}

.funciones h3 {
    color: var(--color-principal);
    width: 100%;
}
.funciones h3 p{
    color: var(--color-secundario);
}
.proxima-funcion h3 p{
    color: var(--color-fondo);
}

.proxima-funcion{
    background-color: var(--color-principal);
    border: 2px solid var(--color-principal);
}
.proxima-funcion h2 {
    color: #f1e7c8;
}

.proxima-funcion h3 {
    color: #f1e7c8;
}

.home-funciones-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-title {
    color: var(--color-principal);
    margin: 1rem;
    align-self: flex-start;
    margin-bottom: 0;
}

.novedades-section h1{
    color: var(--color-principal);
    margin: 1rem;
}

.novedades-section p {
    color: #4c6a2a;
    margin: 1rem;
    text-align: right;
    font-weight: bold;
}

.swiper-slide{
    padding: 30px;
}

.redes a {
    color: #4c6a2a;
    font-size: 3rem;
    margin: 0 1rem;
}
    
.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.nav ul li a:hover{
    color: var(--color-principal);
    padding: 0.2rem;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--color-fondo);
}

.no-eventos {
    color: var(--color-principal);
}

.agenda-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5%;
}

.tabla-agenda-section {
    width: 100%;
    border-collapse: collapse;
}

.tabla-agenda-section td, .tabla-agenda-section th {
    text-align: center;
    max-width: 100%;
}


.material-symbols-outlined { 
    margin-right: 4px; 
}

.lugar-funcion{
    width: 100%;
    display: flex;
    align-items: center;
}

.home-td-fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.nombre-funcion{
    margin-top: 0.5rem;
    color: #4c6a2a;
    font-weight: 500;
    text-align: center;
}

.funciones .home-td-content{
    width: inherit;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-principal);
}
.funciones h3,h2{
    font-weight: 450;
}

@media screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .nav-list li a.active {
        background-color: var(--color-fondo); 
        color: var(--color-principal);
        padding: 0.2rem;
        border-radius: 10px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--color-principal);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1040;
    }

    .titulo.desktop {
        display: none;
    }

    .icono-volver {
        
        display: inline; 
        font-weight: bold;
        text-decoration: none;
        color: #f1e7c8;
    }

    .titulo.mobile {
        
        display: inline; 
        font-family: 'Montserrat', serif;
        font-weight: normal;
        
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        color: #f1e7c8;
        font-size: 2rem;
        cursor: pointer;
    }
    .cerrar-menu{
        margin-right: 1rem;
    }

    .nav{
        opacity: 0;
        width: 70%;
        visibility: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-principal);
        padding: 2rem 0 0 2rem;
        box-shadow: 0 0 0 100vmax rgba(140, 74, 47, .3);
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .nav ul li a{
        padding-right: 1rem;
        font-size: 2rem;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    .nav-list{
        padding-left: 20%;
        flex-direction: column;
        align-items: end; 
        background-color: var(--color-principal);
        width: 50%;
        height: 100%;
    }

    .nav.visible ul li a:hover{
        color: var(--color-principal);
        padding: 0 0.5rem;
        border-radius: 10px 0 0 10px;
        transform: scale(1.1);
        background-color: #f1e7c8;
    }

    body{
        background-color: #f1e7c8;
    }
        
    footer{
        color: #f1e7c8;
        padding: 15px;
        background-color: var(--color-principal);
        border-radius: 5px 5px 0 0;
        width: 100%;
        font-size: 13px;
    }

    footer a{
        color: #f1e7c8;
    }

    ul li{
        list-style: none;
            
    }
    
    a{
        text-decoration: none;
    }
    
    nav{
        display: inline;
    }

    .foto-principal {
        display: flex;
    }

    .foto-principal img {
        width: 100%;
        height: 50vh;
        border-radius: 0px 0px 10% 10%;
        box-shadow: 0 10px 10px -10px rgba(139, 69, 19, 0.9);
    }

    .descripcion p {
        font-size: 22px;
        text-align: center;
        margin: 0.5rem 1rem 1.5rem 1rem;
        color: var(--color-principal);
    }
    
    .tabla-agenda-section {
        border-collapse: collapse;
    }

    .tabla-agenda-section td, .tabla-agenda-section th {
        text-align: center;
        padding: 0.5rem;
    }
    .funciones h2 {
        color: var(--color-principal);
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        font-weight: 600;
    }
    .funciones .nombre-funcion{
        color: #4c6a2a;
        font-weight: 600;
    }
    .proxima-funcion .nombre-funcion{
        color: #f1e7c8;
        font-weight: 500;
    }
    .proxima-funcion h2 {
        color: #f1e7c8;
        margin-right: 1rem;
    }
    .proxima-funcion h3 {
        color: #f1e7c8;
        text-align: left;
        width: 100%;
        font-weight: 500;
    }
    .proxima-funcion h3 p{
        color: var(--color-fondo);
    }

    .nombre-funcion{
        width: 100%;
    }

    .home-funciones-wrapper {
        flex-direction: column;
        width: 100%; 
        color: var(--color-principal);
    }

    .no-eventos {
        margin-left: 15px;
        margin-right: 15px;
        color: var(--color-principal);
    }

    .proxima-funcion , .funciones{
        width: 100%;
        height: 10rem;
        padding: 2rem;
        border-radius: 60px 0 0  60px;       
    }
    .proxima-funcion tr, .funciones tr{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .funciones {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding-right: 15%;
        flex-direction: row;
    }


    .funciones h3 {
        width: 100%;
    }

    .home-title {
        margin-bottom: 0;
    }

    .agenda-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: -5%;
    }

    .agenda-section h1 {
        color: var(--color-principal);
        margin: 1rem;
        align-self: flex-start;
    }

    .novedades-section h1{
        color: var(--color-principal);
        margin: 1rem;
    }
    .home-td-content{
        align-content: center ;
    }
    .home-td-content .nombre-funcion{
        margin-bottom: 1rem;
       
    }
    .icon-contenedor { 
        display: flex; 
        align-items: center;
    }
    .novedades-section p {
        color: #4c6a2a;
        margin: 1rem;
        text-align: right;
        font-weight: bold;
    }

    .redes a {
        color: #4c6a2a;
        font-size: 3rem;
        margin: 0 1rem;
    }
        
    .redes {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;
    }

    .tabla-novedades img {
        height: 20rem;
        width: 25rem;
        padding: 0;
    }
    
    .tabla-novedades td {
        background-color: #8c4a2f;
        color: #d2b48c;
        text-align: left;
        margin: 0;
    }
    
    .tabla-novedades {
        border-radius: 10px;
        margin-left: 10%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-spacing: 0;
        border: 0px;
    }
    .home-td-fecha{
        margin-top: 1rem;
    }


}

/* Novedades-Carrousel-home.html */
.title-novedades{
    color: var(--color-principal);
    margin: 1rem 0 1rem 1rem;

}
.home-redirrecion p{
    display: flex;
    font-weight: 800;
    color: #4c6a2a;
    justify-content: end;
    margin-right: 1rem;
}
.home-redirrecion a:visited{
    color: var(--color-interactivo);
}
.container-novedades{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.card-wrapper{
    max-width: 1100px;
    padding: 20px 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.card-list .card-item {
    list-style: none;
    margin: 10px;
}
.card-list .card-item .card-link:active{
    cursor: grabbing;
}
.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: var(--color-principal);
    color: var(--color-fondo);
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    transition: 0.2 ease;
    border-radius: 10px;
    
}
.card-list .card-item .card-text{
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
}
.card-list .card-item .card-link:hover{
    border-color: black;
}
.card-list .card-link .card-img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;

}
.swiper-slide-button{
    color: #4c6a2a;
}
.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #4c6a2a;
}

/* Estilos para la sección de novedades */
.container-novedades {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-link {
    display: block;
    background: var(--color-principal);
    color: var(--color-fondo);
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    border-radius: 10px;
    overflow: hidden;
}

.card-link:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #f1e7c8;
}

.card-text {
    padding: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card-description {
    font-size: 1rem;
    color: var(--color-fondo);
}

.swiper-pagination-bullet {
    background: #4c6a2a;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: var(--color-principal);
    opacity: 1;
}
