:root {
    --color-principal: #3b6021; /* Verde */
    --color-secundario: #8c4a2f; /* Marrón */
    --color-fondo: #f1e7c8; /* Beige */
}

/* Estilos principales (Mobile First)*/
.player-bar.hidden {
    display: none;
}

.contenedor-selector {
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 14vh;
}


.galeria-obras, .galeria-fechas {
    width: 90%;
    max-width: 100%;
    font-size: 2vh;
    padding: 1vh;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color-principal);
    background-color: var(--color-fondo);
    border: 0.22vh solid var(--color-principal);
    border-radius: 0.56vh;
    padding: 0.56vh 1.11vh;
    cursor: pointer;
    margin: 2.22vh;
    transition: border-color 0.3s ease;
}

.galeria-obras:hover, .galeria-fechas:hover {
    border-color: #5a8231;
}

.galeria-obras:focus, .galeria-fechas:focus {
    border-color: #2f501a;
}

.galeria {
    margin-top: 2.22vh;
    background-color: #f1e7c8;
}

.galeria-header {
    display: flex;
    gap: 1.11vh;
    justify-content: space-around;
    margin-bottom: 0vh;
}

.tab {
    background-color: #f1e7c8;
    color: #8c4a2f;
    font-size: 2vh;
    border: none;
    padding: 1.11vh 2.22vh;
    border-radius: 0.56vh 0.56vh 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #2f501a;
}

.tab.active {
    background-color: #3b6021;
    color: #f1e7c8;
    text-decoration: underline;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3b6021;
    border-radius: 0.56vh;
    padding: 0.56vh;
    justify-items: center;
    align-items: center;
}

.galeria-item {
    background-color: #c1a378;
    border: 0.22vh solid #3b6021;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8.89vh;
    min-height: 8.89vh;
}

.galeria-item::before { 
    font-size: 2.67vh;
    color: #3b6021;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.canciones {
    background-color: #3b6021;
    padding: 1.67vh;
}

.buscador {
    display: flex;
    align-items: center;
    background-color: #f1e7c8;
    border-radius: 2.22vh;
    padding: 0.56vh 1.67vh;
    width: 100%;
    margin-bottom: 2.22vh;
}

.buscador input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.78vh;
    flex-grow: 1;
    color: #f1e7c8;
    padding: 0.56vh 1.11vh;
}

.buscador input::placeholder {
    color:#3b6021;
}

.buscador button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.icon-lupa {
    width: 2.22vh;
    height: 2.22vh;
    stroke: #3b6021;
}

.buscador button:hover .icon-lupa {
    stroke: #2f501a;
}

/* Lista de canciones */
.galeria-grid-canciones {
    display: flex;
    flex-direction: column;
    gap: 1.11vh;
    margin-top: 1.11vh;
}

.galeria-item-canciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #3b6021;
    padding: 1.11vh 1.67vh;
    border-radius: 1.11vh;
    color: #f1e7c8;
}

.galeria-item-canciones:hover {
    background-color: #2f501a;
}

.cancion-info {
    display: flex;
    align-items: center;
    gap: 1.11vh;
    width: 100%;
}

.cancion-play {
    background-color: #f1e7c8;
    color: #3b6021;
    width: 4.44vh;
    height: 4.44vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancion-play.reproduciendo {/*REVISAR*/
    background-color: #E87722;
}

.cancion-play:hover {
    background-color: #e0d6b8;
}

.cancion-texto {
    display: flex;
    flex-direction: column;
}

.cancion-texto .titulo {
    color: #f1e7c8;
    font-weight: bold;
    font-size: 1.56vh;
}

.cancion-texto .subtitulo {
    font-size: 1.33vh;
    color: #e0d6b8;
}

/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(101, 67, 33, 0.8);
    padding-top: 6.67vh;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 77.78vh;
}

.modal img {
    width: 100%;
    height: auto;
}

.modal video {
    width: 100%;
    height: auto;
}

.close {/*REVISAR*/
    position: absolute;
    top: 3.89vh;
    right: 3.89vh;
    width: 2vh;
    height: 2vh;
    border-left: 0.33vh solid #f1e7c8;
    border-top: 0.33vh solid #f1e7c8;
    transform: rotate(45deg);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close:hover,
.close:focus {
    color: #f1e7c8; /* El color de la cruz no cambia al hacer hover ya que está el mismo */
    transform: scale(1.2) rotate(45deg); /* Aumentar el tamaño y mantener la rotación */
}


/* Contenedor general de canciones */
.galeria-grid-canciones {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.11vh;
}

/* Barra de reproducción */
.player-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.11vh;
    background-color: #3b6021;
    color: #f1e7c8;
    border: 0.11vh solid #3b6021;
    border-radius: 0.56vh;
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 1.11vh;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.player-img {
    width: 30%;
    height: auto;
    border-radius: 0.56vh;
    flex-shrink: 0;
}

.player-text {
    font-size: 1.56vh;
    flex-grow: 1;
    width: 70%;
    text-align: left; 
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.11vh;
    width: 100%;
    margin-top: 1.11vh;
}

.control-button {
    background: none;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}

.control-button i {
    color: #f1e7c8;
}

.player-progress {
    display: flex;
    align-items: center;
    gap: 0.56vh;
    width: 100%;
    margin-top: 1.11vh;
}

.progress-bar {
    flex-grow: 1;
    background-color: #E87722;
    border-radius: 0.56vh;
    height: 0.56vh;
    position: relative;
}

.progress {
    background-color: #f1e7c8;
    height: 100%;
    width: 0;
    border-radius: 0.56vh;
    transition: width 0.3s ease;
}

.time {
    font-size: 1.33vh;
    color: #f1e7c8;
}


/* Estilos para pantallas medianas (Tablet) */
@media (min-width: 350px) and (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .galeria-item {
        min-width: 11.11vh;
        min-height: 11.11vh;
    }
    
    .galeria-grid-canciones {
        gap: 1.67vh;
    }
    
    .galeria-item-canciones {
        flex-direction: row; /* Cambia a disposición horizontal */
        align-items: center;
        justify-content: space-between;
    }

    .cancion-info {
        gap: 1.67vh;
    }

}

@media (min-width: 769px) {
    .contenedor-selector {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Alinea los selectores horizontalmente */
        flex-wrap: wrap;
    }

    .selector {
        display: flex;
        flex-direction: row;
        gap: 1.11vh;
        width: 48%;
        margin-top: 2.22vh;
    }
    
    .galeria-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columnas */
        gap: 2vh; /* Espacio entre las imágenes */
        padding: 2vh;
    }

    .galeria-item {
        width: 100%; /* Asegura que los elementos se ajusten al contenedor */
        height: auto;
        min-width: 13.33vh;
        min-height: 13.33vh;
        aspect-ratio: 1; /* Asegura que las imágenes sean cuadradas */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 2vh; /* Bordes redondeados, puedes ajustar el valor */
        cursor: pointer;
    }
    
    .galeria-item img {
        width: 100%; /* Asegura que la imagen se adapte al contenedor */
        height: 100%; /* Asegura que la imagen se ajuste */
        object-fit: cover; /* Mantiene la proporción sin deformar la imagen */
        
    }

    .buscador {
        max-width: 44.44vh;
    }
    
    .galeria-grid-canciones {
        gap: 2.22vh;
    }
    
    .galeria-item-canciones {
        padding: 1.67vh 2.22vh;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .cancion-texto .titulo-cancion {
        font-size: 1.78vh;
    }
    
    .cancion-texto .subtitulo {
        font-size: 1.56vh;
    }
    
    .duracion {
        align-self: flex-end;
        margin-top: 1.11vh;
    }
     
    .modal img {
        transform: rotate(-90deg); /* Gira la imagen 90 grados hacia la izquierda dentro del modal */
        max-width: 100%; /* Asegura que la imagen no se desborde en el modal */
        height: auto;
    }
}