@media (max-width: 768px) {
    
    :root {
        --color-principal: #3b6021; /* Verde */
        --color-secundario: #8c4a2f; /* Marrón */
        --color-fondo: #f1e7c8; /* Beige */
        --color-terciario: #E87722; /* naranja */
    }
    
  
a.icono-volver{

    display: none;
}

.titulo.mobile {
        
    display: inline; 
    font-family: 'Jokerman', serif;
    font-weight: normal;
    
}
    
 
}


/* Estilos para pantallas grandes (Desktop) */
@media (min-width: 769px) {

    
    
}

