.impacto-container {
    color: var(--color-principal);
    padding: 0 2%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    width: 100%;
    min-width: 1200px;
    font-size: 32px;
    font-weight: 600;
    margin-top: 2rem;
    color: var(--color-principal);
}

.sin-instituciones {
    padding: 20px;
}

.instituciones-list {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 1.5%;
}

.institucion-link {
    text-decoration: none;
    color: inherit;
}

.institucion-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    overflow: hidden;
    width: 100%;
}

.institucion-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5%;
}

img {
    width: 425px;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.institucion-info {
    padding-right: 20px;
    width: 100%;

}

.institucion-name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--color-principal);
}

.institucion-description {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: pre-wrap; 
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    color: var(--color-principal);
}

@media screen and (max-width: 768px) {
    .section-title {
        max-width: 600px;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-left: 20px;
        text-align: left; 
    }

    .impacto-container {
        margin: 0;
        padding: 0;
    }

    .instituciones-list {
        flex-direction: column;
        gap: 15px;
    }

    .institucion-item {
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 15px;
        border-radius: 30px 0 0 30px;
        border: 2px solid var(--color-interactivo);
        border-right: none;
        height: 100px;
        max-width: 100%;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 0;
    }

    .institucion-info {
        margin: 0;
        padding: 0;
    }

    .institucion-name {
        font-size: 16px;
        font-weight: 500;
        margin: 15px 10px 5px;
        text-align: left;
    }

    .institucion-description {
        margin: 5px 10px 15px 10px;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        white-space: pre-wrap; 
        word-wrap: break-word;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}
