/* VARIABLES */
.seccion-institucion {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--color-principal);
    padding: 20px;
}

/* Estilos para la versión desktop */
.institucion-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Cambia a fila para alinear los elementos horizontalmente */
    align-items: flex-start;
    padding-top: 20px;
}

.informacion-institucion {
    display: flex;
    flex-direction: column; /* El nombre y la descripción van en columna */
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%; /* Ocupa la mitad del contenedor */
}

.nombre-institucion {
    text-align: left;
    margin-bottom: 10px;
    font-size: 42px;
}

.descripcion-institucion {
    text-align: left;
    font-size: 24px;
}

.imagen-institucion-container {
    width: 50%; /* Ocupa la otra mitad del contenedor */
    display: flex;
    justify-content: flex-end; /* Imagen alineada al margen derecho */
    padding-left: 20px; /* Ajusta el espacio entre la imagen y el borde */
}

.imagen-institucion {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 40px;
}

.impacto-social-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.titulo-impacto {
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-size: 32px;
}

.impacto-social {
    font-size: 24px;
}

.link-institucion-container {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.link-institucion {
    font-weight: bold; /* Aplica negrita al texto */
    color: var(--color-interactivo); /* Usa el color principal */
    text-decoration: none; /* Elimina la subrayado del enlace */
    font-size: 24px;
}

/* Estilos para la versión móvil */
@media (max-width: 768px) {
    /* Contenedor principal */
    .seccion-institucion {
        padding: 0;
    }

    .institucion-container {
        flex-direction: column; /* Los elementos se apilan verticalmente */
        align-items: center; /* Centra todos los elementos */
    }

    /* Asegura que la imagen esté arriba en la versión mobile */
    .imagen-institucion-container {
        order: 1; /* Imagen primero */
        width: 100%; /* La imagen ocupa todo el ancho en mobile */
        display: flex;
        justify-content: center; /* Centra la imagen */
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Texto (nombre y descripción) debajo de la imagen */
    .informacion-institucion {
        order: 2; /* Texto abajo */
        width: 100%; /* El texto ocupa todo el ancho */
        text-align: center; /* Alinea el texto al centro */
        padding: 20px;
        padding-bottom: 4px;
    }

    .imagen-institucion {
        max-width: 100%;
        height: auto;
        border-radius: 24px;
        box-shadow: 0px 8px 24px 0px #8C4A2F80;
        margin: 0;
    }

    .nombre-institucion {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .descripcion-institucion {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    /* Impacto Social */
    .impacto-social-container {
        margin-top: 20px;
        text-align: left;
        padding: 0 20px;
    }

    .titulo-impacto {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .impacto-social {
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.5;
    }

    .link-institucion-container {
        margin-top: 20px;
        text-align: center;
    }

    .link-institucion {
        font-size: 14px;
    }

}
