:root {
    --color-principal: #3b6021; /* Verde */
    --color-secundario: #8c4a2f; /* Marrón */
    --color-fondo: #f1e7c8; /* Beige */
    --color-interactivo: #BC570A; /* Naranja */
}

.nosotros-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-principal);
    font-size: 42px;
}

.nosotros-section h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 15px;
}

.nosotros-chocobanda{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-principal);
    font-family: Jokerman;
}

.nosotros-descripcion{
    display: flex;
    align-items: center;
    justify-content: justify;
    margin: 150px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--color-principal);
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 24px;
}


.recorte{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-integrantes2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo);
    color:  var(--color-principal);
}

.card-integrante2{
    color:var(--color-principal);
}

.card-description{
    color:var(--color-principal);
}

.big-image {
    width: 100%;
    border-radius: 8px 8px 0 0;;
    position: relative;
}

.small-image {
    display: flex;
    position: absolute;
    bottom: 35%;
    right: 7px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 8px 8px 24px 0px #3911003D;
    overflow: hidden;
    color: var(--color-principal);
    z-index: 10;
 }

 .card-item2:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.card-item {
    position: relative;
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

.card-wrapper {
    align-items: center;
    justify-content: center;
    min-height: 300px;
    height: 100%;
    min-width: 300px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;

}

.card-item2 {
    display: flex;
    border: 3px solid var(--color-interactivo); /* Borde gris claro */
    border-radius: 10px;    /* Bordes redondeados */
    padding: 15px;          /* Espaciado interno */
    height: 235px;
    width: 235px;
    max-height: 235px;
    max-width: 235px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto hover suave */
}

.card-text2 {
    margin-top: 28px; /* Empuja el texto hacia abajo */
}

.card-title, .card-description {
    margin-left: 8px;
}

.card-titulo{
    color: var(--color-principal);
    font-size: 24px;
}

.card-description {
    color: var(--color-principal);
    font-size: 18px;
}

.swiper-slide {
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card-wrapper .swiper-pagination-bullet {
    background: var(--color-interactivo);
    opacity: 0.7;
}

.card-wrapper .swiper-pagination-bullet-active {
    background: var(--color-interactivo);
    opacity: 1;
}

.integrantes-section h1{
    background-color:#f1e7c8;
    font-size: 32px;
    margin:  15px;
    color: var(--color-principal);
}

.nosotros-section
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 15px;
    margin-top: 20px;
    color: var(--color-principal);
}

.agenda-section h1{
    font-size: 32px;
}

.obras {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-width: 500px; /* Ancho mínimo para acomodar la imagen */
    height: auto; /* Altura automática */
    margin: 1rem 0;
    overflow: hidden;
}

.obras-img {
    width: 500px; /* Ancho fijo */
    height: auto; /* Alto automático */
    object-fit: cover; /* Recorta la imagen si es necesario */
    border-radius: 16px;
}

.obras-info {
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido verticalmente */
    overflow: hidden;
}

.obras-info-title {
    font-size: 28px; /* Tamaño de fuente */
}

.obras-info-desc{
    font-size: 24px;
    overflow-y: auto;
    flex-grow: 1;
    color: var(--color-principal);
    text-align: justify;
    margin-right: 1rem;
    padding-right: 1rem;
}

.agenda-section {
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.agenda-section a {
    display: block; /* Convierte el <a> en un bloque */
    width: 100%; /* Ocupa todo el ancho disponible */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto */
    margin-right: 0;
}

.nosotros-redireccion{
    display: flex;
    justify-content: end;
    font-weight: 800;
    text-decoration: none;
    color: var(--color-principal);
    font-size: 18px;
    margin-top: 7px;
    font-weight: 500;
}

.nosotros-redireccion a {
    text-decoration: none;
    color: var(--color-interactivo);
    font-weight: bold;
    font-size: 18px;

}

.nosotros-integrantes-redireccion{
    margin-right: 15px;
}

.swiper-pagination-bullet {
    background: var(--color-principal);
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: var(--color-principal);
    opacity: 1;
}

@media screen and (max-width: 768px) {

    .nosotros-section{
        margin-top: 75px;
    }

    .nosotros-titulo{
        font-size: 24px;
    }

    .nosotros-section h1{ 
        font-size: 40px;
    }

    .nosotros-chocobanda{
        font-size:  56px;
    }
    .nosotros-descripcion {
        margin: 7px 15px;
        font-size: 16px;
        text-align: left;
    }
    .nosotros-redireccion{
        display: flex;
        justify-content: end;
        font-weight: 800;
        color: var(--color-principal);
        font-size: 17px;
        margin-top: 7px;
        font-weight: 500;
    }

    .nosotros-redireccion a{
        font-size: 14px;
    }

    .integrantes-section h1, .agenda-section h1{
        font-size: 24px;
    }

    .agenda-section a {
        display: block; /* Convierte el <a> en un bloque */
        width: 100%; /* Ocupa todo el ancho disponible */
        text-decoration: none; /* Elimina el subrayado del enlace */
        color: inherit; /* Hereda el color del texto */
    }

    .agenda-section {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 0; /* Centra el contenedor si es necesario */
        padding: 0 15px; /* Agrega un poco de espacio a los lados */
        padding-right: 0;
    }

    .card-item2 {
        background-color: #3b6021;
        border: none;
    }

    .card-title, .card-description {
        color: var(--color-fondo);
    }

    .card-title{
        font-size: 24px;
        font-weight: normal;
    }

    .card-description{
        font-size: 14px;
    }

    .obras {
        display: flex; /* Usa Flexbox para alinear los elementos */
        align-items: stretch; /* Asegura que los elementos ocupen toda la altura */
        width: auto; /* El ancho se ajustará automáticamente al contenido */
        margin-top: 15px;
        border-radius: 20px 0 0 20px; /* Borde redondeado solo en la esquina izquierda */
        border-top: 3px solid var(--color-interactivo); /* Borde superior */
        border-left: 3px solid var(--color-interactivo); /* Borde izquierdo */
        border-bottom: 3px solid var(--color-interactivo); /* Borde inferior */
        border-right: none; /* Sin borde derecho */
        overflow: hidden; /* Evita que el contenido sobresalga del contenedor */
        height: auto; /* La altura se ajusta automáticamente al contenido */
    }

    .obras-img {
        width: 120px; /* Ancho fijo de la imagen */
        height: 120px; /* Alto fijo de la imagen */
        object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
        border-radius: 0;
        margin: 0; /* Elimina cualquier margen interno */
        display: block; /* Asegura que la imagen sea tratada como un bloque */
        flex-shrink: 0; /* Evita que la imagen se reduzca */
    }

    .obras-info {
        margin: 0; /* Elimina márgenes internos */
        padding: 10px; /* Agrega un poco de espacio entre la imagen y el texto */
        display: flex; /* Usa Flexbox para organizar el contenido */
        flex-direction: column; /* Coloca los elementos en columna */
        justify-content: center; /* Centra verticalmente el contenido */
        background-color: transparent; /* Asegúrate de que el fondo no interfiera */
        height: 100%; /* Asegura que el texto ocupe toda la altura disponible */
    }

    .obras-info-desc p {
        width: 90vw; /* El ancho del contenedor será el 90% del ancho de la pantalla */
        max-width: 100%; /* Asegura que no exceda el ancho disponible */
        font-size: 25px;
    }

    .obras-info-desc{
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
        width: 90vw; /* El ancho del contenedor será el 90% del ancho de la pantalla */
        max-width: 100%; /* Asegura que no exceda el ancho disponible */
        display: -webkit-box; /* Crea un contenedor flexible */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .obras-info-title{
        font-size: 16px;
        color: var(--color-principal);
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .nosotros-integrantes-redireccion{
        margin-right: 15px;
    }

}