:root {
    --color-principal: #3b6021; /* Verde */
    --color-secundario: #8c4a2f; /* Marrón */
    --color-fondo: #f1e7c8; /* Beige */
    --color-terciario: #E87722; /* naranja */
}

.nosotros-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secundario);

}
.nosotros-chocobanda{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secundario);
    font-family: Jokerman;
    font-size: 10vh;
}

.nosotros-descripcion{
    display: flex;
    align-items: center;
    justify-content: justify;
    margin: 50vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: var(--color-secundario);
}

.container-integrantes2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo);
    color:  var(--color-principal);
}
.card-integrante2{
    color:var(--color-principal);
}
.card-description{
    color:var(--color-principal);
}
.big-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
    display: block;
}

.big-image {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.small-image { 
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 1vh;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: var(--color-fondo) 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: var(--color-principal);
    z-index: 10;
 
 }

.card-item {
    position: relative;
    background-color: var(--color-fondo);
    color: var(--color-principal);
}



.nosotros-section h1{
    text-align: center;
    margin-bottom: 2vh;
}
.nosotros-section
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 2vh;
    margin-top: 7vh;
    color: var(--color-principal);
}

.integrantes-section h1{
    background-color:#f1e7c8;
    margin:  2vh;
    color: var(--color-principal);
}

.obras {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    margin: 1rem 0;
    overflow: hidden;
}
.obras-info{
    padding: 1rem;
    height: 200px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.obras-info-desc{
    font-size: 14px;
    overflow-y: auto;
    flex-grow: 1;
    color: var(--color-principal);
    text-align: justify;
    margin-right: 1rem; 
    padding-right: 1rem;
}

.obras-info-title{
    font-size: 16px;
    color: var(--color-terciario);
    margin-bottom: 0.5rem;
}

.agenda-section {
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 14px;
    margin-right: -5vh;
}

.obras-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}

.nosotros-redireccion{
    display: flex;
    justify-content: end;
    font-weight: 800;
    color: var(--color-principal);
    font-size: 17px;
    margin-top: 1vh;
    font-weight: 500;
}
.nosotros-integrantes-redireccion{
    margin-right: 2vh;
}

@media screen and (max-width: 768px) {
   
    .nosotros-chocobanda{
        font-size:  8vh;
    }
    .nosotros-descripcion {
        margin: 1vh 2vh; /* Reduce los márgenes en la versión móvil */
        font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
        text-align: left; /* Ajusta la alineación del texto */
    }
    .nosotros-redireccion{
        display: flex;
        justify-content: end;
        font-weight: 800;
        color: var(--color-principal);
        font-size: 17px;
        margin-top: 1vh;
        font-weight: 500;
    }

    .obras {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        overflow: hidden;
        margin-top: 2vh;
        border-radius: 30px 0px 0 30px;
        border: 2px solid var(--color-secundario);
    }
    .obras-info{
        margin: 5px;
    }
    .obras-info-desc{
        font-size: 14px;
        padding-right: 10px;
    }

    .obras-info-title{
        font-size: 16px;
        color: var(--color-principal);
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .nosotros-integrantes-redireccion{
        margin-right: 2vh;
    }
}