.container-integrantes{
    display: flex;
    align-items: center;
    justify-content: center; 

}
.card-actor {
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 1vh;
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    overflow: hidden;
}

.card-actor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: black 2px solid;
}

.card-item {
    position: relative;
}
.nosotros-section h1{
    text-align: center;
    margin-bottom: 2vh;
}
.nosotros-section
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 2vh;
    margin-top: 7vh;
    color: #8c4a2f;
}

.integrantes-section h1{
    color: #8c4a2f;
    margin:  2vh;
}

@media screen and (max-width: 768px) {

    .nosotros-section
    {
        padding-top: 7vh;
    }


}