:root {
    --color-principal: #3b6021; /* Verde */
    --color-secundario: #8c4a2f; /* Marrón */
    --color-fondo: #f1e7c8; /* Beige */
    --color-interactivo: #E87722; /* naranja */
}

.novedades-section {
    padding: 2rem;
    background-color: var(--color-fondo);
    max-width: 1200px;
    margin: 0 auto;
}
.card-novedades .card-item{
    margin: 2rem;
}

.sin-novedades{
    font-size: 1.2rem;
    color: var(--color-principal);
    text-align: center;
    margin: 20px 0;
}

/* desktop */
@media screen and (min-width: 769px){
    .novedades-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-novedades{
        display: none; /*para que se oculte la version mobile*/
    }
    .novedades-desk-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .novedad-desk-item{
        display: flex;
        margin-bottom: 3rem;
        justify-content: space-between;
        align-items: center;

    }
    .noticia-desk-image{
        width: 40%;
        height: auto;
        margin-right: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
    }
    .noticia-desk-image img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
    .novedad-desk-text{
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .novedad-desk-text h2{
        margin-top: 1rem;
        color: var(--color-principal);
        font-weight: bold;

    }
    .novedad-desk-text span{
        font-weight: normal;
        color: var(--color-principal);
    }
    .novedad-desk-item .noticia-desk-description{
        font-weight: normal;
        margin-top: 1rem;
        text-align: left;
        margin-left: 0%;
    }

    .card-img{
        border-radius: 30px;
    }
    
}
/* mobile */
@media screen and (max-width: 768px) {

    .novedades-section {
        padding: 10px;
        margin-top: 15vh;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .novedades-desk-section{
        display: none;
    }
        
    .card-text {
        color: var(--color-fondo); 
        margin: 0;
        padding: 0;
    }
    
    .card-text .date,
    .card-text .card-title,
    .card-text .card-description {
        color: var(--color-fondo); /* Asegura que los elementos hijos también hereden el color */
    }
    .card-text .date,
    .card-text .card-description {
    font-weight: normal;
    text-align: left;
    margin-left: 0%;
}
  
}
