{% extends "admin/base.html" %}

{% block extrahead %}
    <!-- Cargar FontAwesome desde un CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block userlinks %}
    <!-- Agregar el botón de "Volver al home" -->
    <a href="{% url 'home' %}" class="btn btn-success" style="margin-right: 10px;">
        <i class="fas fa-home"></i> Volver al Home
    </a>
    <!-- Mantener los enlaces originales de Jazzmin -->
    {{ block.super }}
{% endblock %}