{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/detalle-Integrante.css'%}"> {% endblock %}
{% block title %} Detalle Integrante {% endblock %}
{%block content%}

<section class="container">  
    <section class="detalle-desk-image">
        <img src=" {{  integrante.personajes.first.foto.url }}" alt="Foto de {{ actual.personajes.first.nombre }}" class="big-image"> 
        <img src="{{ integrante.foto.url }}" alt="Foto de {{ actual.nombre }}" class="small-image">   
    </section>
  
      <section class="detalle-desk-text"> 
          <h2>{{ integrante.personajes.first.nombre }}</h2> 
          <h3>{{ integrante.nombre }}</h3>
          <br>
          <p class="descripcion-desk-detail">{{ integrante.descripcion }}</p> 
      </section> 
      
    
</section>

{% endblock %} 
