{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/detalle-Integrante.css'%}"> {% endblock %}
{% block title %} Detalle Integrante {% endblock %}
{%block content%}

<section class="container">  
    <section class="detalle-desk-image">
        <!-- Imagen del personaje (big-image) -->
        {% if integrante.personajes.first.foto %}
            <img src="{{ integrante.personajes.first.foto.url }}" 
                 alt="Foto de {{ integrante.personajes.first.nombre|default:'Personaje sin foto' }}" 
                 class="big-image">
                    <!-- Imagen del integrante (small-image) -->
            {% if integrante.foto %}
                <img src="{{ integrante.foto.url }}" 
                    alt="Foto de {{ integrante.nombre }}" 
                    class="small-image">
            {% else %}
                <img src="{% static 'img/default-profile.png' %}" 
                    alt="Foto de {{ integrante.nombre }}" 
                    class="small-image">
            {% endif %}
        {% else %}
            <img src="{{integrante.foto.url}}" 
                 alt="Foto de {{ integrante.nombre |default:'Personaje sin foto' }}" 
                 class="big-image">
        {% endif %}

    </section>
  
    <section class="detalle-desk-text"> 
        <h2>{{ integrante.personajes.first.nombre }}</h2> 
        <h3>{{ integrante.nombre }} {%if integrante.ocupacion%} 
                                       - {{ integrante.ocupacion }}
                                    {%endif%}
        </h3>
        <br>
        <p class="descripcion-desk-detail">{{ integrante.descripcion }}</p> 
    </section> 
      
    
</section>

{% endblock %} 
