{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/detalle-Integrante.css'%}"> {% endblock %}
{% block title %} Detalle Integrante {% endblock %}
{%block content%}

<section class="container">  
    <section class="detalle-desk-image">
        <img src="{% static 'img/Imagen-NoImage.png' %}" alt="Imagen Grande" class="big-image"> 
        <img src="{% static 'img/Imagen-NoImage.png' %}" alt="Imagen Pequeña" class="small-image">   
    </section>
  
      <section class="detalle-desk-text"> 
          <h2>Nombre del personaje</h2> 
          <h3>Nombre del profesional</h3>
          <br>
          <p class="descripcion-desk-detail">{% lorem 2 b random %}</p> 
      </section> 
      
    
</section>

{% endblock %} 
