{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% block title %} Chocobanda - INICIO {% endblock %}
{% block estilos%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{%  endblock %}
{%block content%}

<div class="foto-principal">
    <img src="{% static 'img/foto-principal.jpg' %}" alt="Foto principal">
</div>
<div class="descripcion">
    <p>Acercándonos a los niños y sus familias a través del arte, creando lazos afectivos y apoyando a quienes más lo necesitan</p>
</div>
<h2 class="home-title">Próxima función</h2>
<section class="agenda-section">
    
    <div class="home-funciones-wrapper">
        {% if eventos %}
        <div class="funciones proxima-funcion">
            <table class="tabla-agenda-section">
                <tr>
                    <td class="home-td-fecha">
                        <h2 class="dia-funcion">{{ eventos.0.fecha|date:"d" }}</h2>
                        <h2 class="mes-funcion">{{ eventos.0.fecha|date:"F" }}</h2>
                    </td>
                    <td class="home-td-content">
                        <h3 class="nombre-funcion">{{ eventos.0.obra.titulo }}</h3>
                        <h3 class="hora-funcion">
                            <p class="material-symbols-outlined">schedule</p>
                            {{ eventos.0.hora|time:"H:i" }}
                        </h3>
                        <h3 class="lugar-funcion">
                            <p class="material-symbols-outlined">location_on</p>
                            {{ eventos.0.lugar }}
                        </h3>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <p>No hay próximos eventos.</p>
        {% endif %}
    </div>

    {% if eventos|length > 1 %}   
    <div class="home-funciones-wrapper">
        {% for evento in eventos|slice:"1:" %}
        <div class="funciones">
            <table class="tabla-agenda-section">
                <tr>
                    <td class="home-td-fecha">
                        <h2 class="dia-funcion">{{ evento.fecha|date:"d" }}</h2>
                        <h2 class="mes-funcion">{{ evento.fecha|date:"F" }}</h2>
                    </td>
                    <td class="home-td-content">
                        <h3 class="nombre-funcion">{{ evento.obra.titulo }}</h3>
                        <h3 class="hora-funcion">
                            <p class="material-symbols-outlined">schedule</p>
                            {{ evento.hora|time:"H:i" }}
                        </h3>
                        <h3 class="lugar-funcion">
                            <p class="material-symbols-outlined">location_on</p>
                            {{ evento.lugar }}
                        </h3>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

<h2 class= "home-title">Novedades</h2>
<div class="container-novedades swiper">
    <div class="card-wrapper">
        <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>

        </ul>
        <div class="swiper-pagination"></div>
    </div>
</div> 

<div class="home-redirrecion">
    <p><a href="{% url 'novedades' %}">Ver todas las novedades</a></p>
</div>
{% endblock %} 

{% block script %} 
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    new Swiper('.card-wrapper', {
        // Optional parameters
        loop: true,
        spaceBetween: 30,

        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
        clickable :true,
        dynamicBullets: true
        },
    
        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
        breakpoints : {
            0: {
                slidesPerView: 1
            },
            768: {
                slidesPerView: 2
            },
            1024: {
                slidesPerView: 3
            }
        }
  });
</script>

{% endblock %}