{% extends "base.html" %}
{% load static %}
{% block title %} Chocobanda - INICIO {% endblock %}

{%block content%}

<div class="foto-principal">
    <img src="{% static 'img/foto-principal.jpg'%}" alt="Foto principal">
</div>
<div class="descripcion">
    <p>Acercándonos a los niños y sus familias a través del arte, creando lazos afectivos y apoyando a quienes mas lo necesitan</p>
</div>

<section class="agenda-section">
    <h1>Agenda</h1>
    <div class="proxima-funcion">
    <table class="tabla-agenda-section">
        <tr>
        <td>
            <h2 class="dia-funcion">{% block dia_funcion %}22{% endblock %}</h2>
            <h2 class="mes-funcion">{% block mes_funcion %}Octubre{% endblock %}</h2>
        </td>
        <td>
            <h3 class="nombre-funcion">{% block nombre_funcion %}Funcion de Gala{% endblock %}</h3>
            <h3 class="hora-funcion">{% block hora_funcion %}20:00{% endblock %}</h3>
            <h3 class="lugar-funcion">{% block lugar_funcion %}Teatro Colon{% endblock %}</h3>
        </td>
        </tr>
    </table>
    </div>

    <div class="funciones">
    <table class="tabla-agenda-section">
        <tr>
        <td>
            <h2 class="dia-funcion2">{% block dia_funcion2 %}22{% endblock %}</h2>
            <h2 class="mes-funcion2">{% block mes_funcion2 %}Octubre{% endblock %}</h2>
        </td>
        <td>
            <h3 class="nombre-funcion2">{% block nombre_funcion2 %}Funcion de Gala{% endblock %}</h3>
            <h3 class="hora-funcion2">{% block hora_funcion2 %}20:00{% endblock %}</h3>
            <h3 class="lugar-funcion2">{% block lugar_funcion2 %}Teatro Colon{% endblock %}</h3>
        </td>
        </tr>
    </table>
    </div>

    <div class="funciones">
    <table class="tabla-agenda-section">
        <tr>
        <td>
            <h2 class="dia-funcion3">{% block dia_funcion3 %}22{% endblock %}</h2>
            <h2 class="mes-funcion3">{% block mes_funcion3 %}Octubre{% endblock %}</h2>
        </td>
        <td>
            <h3 class="nombre-funcion3">{% block nombre_funcion3 %}Funcion de Gala{% endblock %}</h3>
            <h3 class="hora-funcion3">{% block hora_funcion3 %}20:00{% endblock %}</h3>
            <h3 class="lugar-funcion3">{% block lugar_funcion3 %}Teatro Colon{% endblock %}</h3>
        </td>
        </tr>
    </table>
    </div>
</section>
    <div class="container-novedades swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                        <div class="card-text">
                            <p class="date">fecha</p>
                            <h3 class="card-title">titulo</h3>
                            <p class="card-decription">description</p>
                        </div>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                        <div class="card-text">
                            <p class="date">fecha</p>
                            <h3 class="card-title">titulo</h3>
                            <p class="card-decription">description</p>
                        </div>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                        <div class="card-text">
                            <p class="date">fecha</p>
                            <h3 class="card-title">titulo</h3>
                            <p class="card-decription">description</p>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div> 

    <div class="novedades-redirrecion">
        <p><a href="">Ver todas las novedades</a></p>
    </div>

<div class="redes">
    <a href="https://www.instagram.com/chocobandamdq/"><i class="bi bi-instagram"></i></a>
    <a href="https://www.youtube.com/@chocobandamdq3701"><i class="bi bi-youtube"></i></a>
    <a href="https://www.facebook.com/chocobanda.mdq/?locale=eo_EO&_rdr"><i class="bi bi-facebook"></i></a>
</div>

{% endblock %} 

{% block script %} 
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    new Swiper('.card-wrapper', {
        // Optional parameters
        loop: true,
        spaceBetween: 30,

        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
        clickable :true,
        dynamicBullets: true
        },
    
        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
        breakpoints : {
            0: {
                slidesPerView: 1
            },
            768: {
                slidesPerView: 2
            },
            1024: {
                slidesPerView: 3
            }
        }
  });
</script>

{% endblock %}