{% extends "base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/impacto-social.css'%}">
{% endblock %}
{% block title %} Chocobanda - IMPACTO SOCIAL {% endblock %}
{% block nombre_seccion %} Impacto social {% endblock %}
{% block content %}

<!-- Contenedor Principal -->
<div class="impacto-container">
    <h1 class="section-title">Instituciones beneficiadas</h1>
    {% for institucion in instituciones_beneficiadas %}
        <div class="instituciones-list">
            <a href="{% url 'impactoSocialInsti' institucion.id %}" style="text-decoration: none; color: inherit;">
                <div class="institucion-item">
                    <div class="institucion-image">
                        {% if institucion.foto %}
                            <img src="{{ institucion.foto.url }}" alt="{{ institucion.nombre }}">
                        {% else %}
                            <img src="{% static 'img/foto2.JPG' %}" alt="Imagen de la Institución">
                        {% endif %}
                    </div>

                    <div class="institucion-info">
                        <h3 class="institucion-name"> {{ institucion.nombre }} </h3>
                        <p class="institucion-description"> {{ institucion.descripcion }} </p>
                    </div>
                </div>
            </a>
        </div>
    {% empty %}
        <p>No hay instituciones por el momento.</p>
    {% endfor %}
</div>
{% endblock %}