{% extends "base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'impacto-social-galeria.css'%}">
{% endblock %}
{% block title %} Chocobanda - Impacto Social {% endblock %}
{% block nombre_seccion %} Impacto social {% endblock %}
{% block content %}

<!-- Galería -->
<div class="header">
    <h1 style="font-size: 1.5rem; margin-top: 120px; color: #8C4A2F; text-align: center;">
        Nombre de la 
        institución
    </h1>
</div>

<div class="galeria">
    <div class="galeria-header">
        <h1 style="font-size: 1.5rem;
   
        margin-top: 20px;
        color: #8C4A2F;
        text-align: left;
        padding: 5%;">
            Galeria
        </h1>
    </div>

    <div class="galeria-content">

        <div class="galeria-grid">
            <div class="galeria-item">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
                <img src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">

            </div>
        </div>



    </div>

</div>
{% endblock %}