{% extends "base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/impacto-social-institucion.css' %}">
{% endblock %}
{% block title %} Chocobanda - Impacto Social {% endblock %}
{% block nombre_seccion %} Impacto social {% endblock %}
{% block content %}
<!-- Institucion -->
<div class="institucion-container">
    <div class="DescripcionInstitucion">
        <h1 class="text-imagen">Breve descripción de la institución: </h1>
        <h3 class="text-sub-imagen"> {{ institucion.descripcion }} </h3>
    </div>
    <div class="header">
        {% if institucion.foto %}
            <img class="imagen-header" src="{{ institucion.foto.url }}" alt="Foto de {{ institucion.nombre }}">
        {% else %}
            <img class="imagen-header" src="{% static 'img/default_institucion.jpg' %}" alt="Imagen predeterminada">
        {% endif %}
    </div>
</div>

<div class="NuestroImpacto">
    <h1 class="text-imagen-2"> Nuestro impacto: </h1>
    <h3 class="text-sub-imagen-2">
        {{ institucion.impacto_social }}
    </h3>
</div>

<div class="contact-info">
    <p><strong><i class="bi bi-whatsapp verde"></i> Teléfono:</strong> {{ institucion.telefono }}</p>
    <p><strong><i class="bi bi-envelope verde"></i>Email:</strong> {{ institucion.correo_electronico }}</p>
</div>
{% endblock %}
