{% extends "base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/impacto-social-institucion.css' %}">
{% endblock %}
{% block title %} Chocobanda - Impacto Social {% endblock %}
{% block nombre_seccion %} Impacto social {% endblock %}
{% block content %}
<!-- Institucion -->
<div class="institucion-container">
    <div class="DescripcionInstitucion">
        <h1 class="text-imagen">Breve descrpcion de la institución: </h1>
        <h3 class="text-sub-imagen"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
            aut
            facere tempora sit in, saepe blanditiis. Fugiat ipsum nihil unde sunt excepturi nam. Rerum earum voluptates
            numquam, animi iure tempora?
        </h3>
    </div>
    <div class="header">
        <img class="imagen-header" src="{% static 'img/Imagen-noImage.png' %}" alt="Imagen de la Institución">
    </div>
</div>

<div class="NuestroImpacto">
    <h1 class="text-imagen-2"> Nuestro impacto </h1>
    <h3 class="text-sub-imagen-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur consequuntur similique libero blanditiis
        rem placeat assumenda, et quod ipsum, at deleniti nam qui. Libero quasi atque aliquam amet ipsa.
    </h3>
</div>

<div style=" text-align: center;
color: #8c4a2f;
margin-top: 5rem;">
    <p><strong><i class="bi bi-whatsapp verde" style="color: #4c6a2a;"></i> Teléfono:</strong> +54 000 000 0000</p>
    <p><strong><i class="bi bi-envelope verde" style="color: #4c6a2a;"></i>Email:</strong> ejemplo@gmail.com</p>
</div>
{% endblock %}
