{% extends "base.html" %}
{% load static %}
{% block estilos %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/integrantes.css' %}">
{% endblock %}
{% block title %} Chocobanda - INTEGRANTES {% endblock %}
{% block nombre_seccion %} Integrantes {% endblock %}
{% block content %}
<div class="buscador-container">
<!-- Barra de búsqueda -->
  <div class="search-bar">
      <input type="text" id="search-input" placeholder="Nombre del profesional/personaje">
      <button id="search-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--color-interactivo)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-lupa">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
      </button>
  </div>
</div>

<div class="tabs-container">
    <!-- Pestañas de categorías -->
    <div class="tabs">
        <p data-target="#actuales" class="active">Actuales</p>
        <p data-target="#invitados">Invitados</p>
        <p data-target="#memorables">Memorables</p>
    </div>

    <!-- Contenido de las pestañas -->
    <div class="content">
        <!-- Sección Actuales -->
        <div data-content id="actuales" class="active">
            {% if actuales %}
            <div class="container-integrantes">
                {% for actual in actuales %}
                    <div class="card-item">
                        <a href="{% url 'detalleIntegrante' actual.id %}" class="card-inte">
                            {% if not actual.personajes.exists %}
                            <div class="card-img">
                                {% if actual.foto %}
                                    <img src="{{ actual.foto.url }}" alt="Foto de {{ actual.nombre }}">
                                {% else %}
                                    <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ actual.nombre }}">
                                {% endif %}
                            </div>
                            <div class="card-text">
                                <h3 class="card-title">{{ actual.nombre }}</h3>
                            </div>
                            {% else %}
                            <div class="card-actor">
                                {% comment %} Imagen redonda del integrante {% endcomment %}
                                {% if actual.foto %}
                                    <img src="{{ actual.foto.url }}" alt="Foto de {{ actual.nombre }}">
                                {% else %}
                                    <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ actual.nombre }}">
                                {% endif %}
                            </div>
                            {% if actual.personajes.last and actual.personajes.last.foto %}
                            <img src="{{ actual.personajes.last.foto.url }}" alt="Foto de {{ actual.personajes.last.nombre }}" class="card-img">
                            {% else %}
                            <img src="{% static 'img/default-character.png' %}" alt="Personaje sin foto" class="card-img">
                            {% endif %}
                            <div class="card-text">
                                <h3 class="card-title">{{ actual.personajes.last.nombre|default:"Personaje sin nombre" }}</h3>
                                <p class="card-description">{{ actual.nombre }}</p>
                            </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="container-integrantes">No hay integrantes actuales disponibles.</p>
            {% endif %}
        </div>
        

        <!-- Sección Invitados -->
        <div data-content id="invitados">
            {% if invitados %}
            <div class="container-integrantes">
                {% for invitado in invitados %}
                <div class="card-item">
                    <a href="{% url 'detalleIntegrante' invitado.id %}" class="card-inte">
                        {% if not invitado.personajes.exists %}
                        <div class="card-img">
                            {% if invitado.foto %}
                                <img src="{{ invitado.foto.url }}" alt="Foto de {{ invitado.nombre }}">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ invitado.nombre }}">
                            {% endif %}
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">{{ invitado.nombre }}</h3>
                        </div>
                        {% else %}
                        <div class="card-actor">
                            {% comment %} Imagen redonda del integrante {% endcomment %}
                            {% if invitado.foto %}
                                <img src="{{ invitado.foto.url }}" alt="Foto de {{ invitado.nombre }}">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ invitado.nombre }}">
                            {% endif %}
                        </div>
                        {% if invitado.personajes.last and invitado.personajes.last.foto %}
                        <img src="{{ invitado.personajes.last.foto.url }}" alt="Foto de {{ invitado.personajes.last.nombre }}" class="card-img">
                        {% else %}
                        <img src="{% static 'img/default-character.png' %}" alt="Personaje sin foto" class="card-img">
                        {% endif %}
                        <div class="card-text">
                            <h3 class="card-title">{{ invitado.personajes.last.nombre|default:"Personaje sin nombre" }}</h3>
                            <p class="card-description">{{ invitado.nombre }}</p>
                        </div>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="container-integrantes">No hay invitados disponibles actualmente.</p>
            {% endif %}
        </div>

        <!-- Sección Memorables -->
        <div data-content id="memorables">
            {% if memorables %}
            <div class="container-integrantes">
                {% for memorable in memorables %}
                <div class="card-item">
                    <a href="{% url 'detalleIntegrante' memorable.id %}" class="card-inte">
                        {% if not memorable.personajes.exists %}
                        <div class="card-img">
                            {% if memorable.foto %}
                                <img src="{{ memorable.foto.url }}" alt="Foto de {{ memorable.nombre }}">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ memorable.nombre }}">
                            {% endif %}
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">{{ memorable.nombre }}</h3>
                        </div>
                        {% else %}
                        <div class="card-actor">
                            {% comment %} Imagen redonda del integrante {% endcomment %}
                            {% if memorable.foto %}
                                <img src="{{ memorable.foto.url }}" alt="Foto de {{ memorable.nombre }}">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ memorable.nombre }}">
                            {% endif %}
                        </div>
                        {% if memorable.personajes.last and memorable.personajes.last.foto %}
                        <img src="{{ memorable.personajes.last.foto.url }}" alt="Foto de {{ memorable.personajes.last.nombre }}" class="card-img">
                        {% else %}
                        <img src="{% static 'img/default-character.png' %}" alt="Personaje sin foto" class="card-img">
                        {% endif %}
                        <div class="card-text">
                            <h3 class="card-title">{{ memorable.personajes.last.nombre|default:"Personaje sin nombre" }}</h3>
                            <p class="card-description">{{ memorable.nombre }}</p>
                        </div>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="container-integrantes">No hay integrantes memorables disponibles actualmente.</p>
            {% endif %}
        </div>
        
{% endblock %}

{% block script %}
<script>
    // Funcionalidad de las pestañas
    const targets = document.querySelectorAll('[data-target]');
    const contents = document.querySelectorAll('[data-content]');

    targets.forEach(target => {
        target.addEventListener('click', () => {
            // Quitar la clase 'active' de todas las pestañas y contenidos
            targets.forEach(t => t.classList.remove('active'));
            contents.forEach(c => c.classList.remove('active'));

            // Activar la pestaña y el contenido correspondiente
            target.classList.add('active');
            const content = document.querySelector(target.dataset.target);
            content.classList.add('active');
        });
    });

    // Funcionalidad de búsqueda
    const searchInput = document.getElementById('search-input');
    searchInput.addEventListener('input', () => {
        const filter = searchInput.value.toLowerCase();
        contents.forEach(content => {
            const cards = content.querySelectorAll('.card-item');
            cards.forEach(card => {
                const text = card.textContent.toLowerCase();
                card.style.display = text.includes(filter) ? 'block' : 'none';
            });
        });
    });
</script>
{% endblock %}
