{% extends "base.html" %}
{% load static %}
{% block title %} Chocobanda - NOSOTROS {% endblock %}
{% block nombre_seccion %} Nosotros {% endblock %}
{% block estilos %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nosotros.css'%}">
{% endblock %}

{% block content %}
        <section class="nosotros-section">
            <h2 class="nosotros-titulo">La historia de</h2>
            <h1 class="nosotros-chocobanda">Chocobanda</h1>
            <p class="nosotros-descripcion recorte">{% if ajustes %}{{ ajustes.historia_chocobanda | safe }}...{% else %}Próximamente...{% endif %}</p>
            <p class="nosotros-redireccion"><a href="/nuestraHistoria">Leer más</a></p>
        </section>
       
        <section class="integrantes-section">
            <h1>Integrantes</h1>
            <div class="container-integrantes2 swiper">
                <div class="card-wrapper">
                    <ul class="card-list2 swiper-wrapper">
                        {% if todos_integrantes %}
                            {% for integrante in todos_integrantes %}
                            <li class="card-item2 swiper-slide">
                                <a href="{% url 'detalleIntegrante' integrante.id %}" class="card-integrante2">
                                    <div class="small-image">
                                        {% if integrante.foto %}
                                            <img src="{{ integrante.foto.url }}" alt="Foto de {{ integrante.nombre }}">
                                        {% else %}
                                        <img src="{% static 'img/default-profile.png' %}" alt="Foto de {{ integrante.nombre }}">
                                        {% endif %}
                                    </div>
                                    {% if integrante.personajes.last.foto %}
                                        <img src="{{ integrante.personajes.last.foto.url }}" 
                                             alt="Foto de {{ integrante.personajes.last.nombre|default:'Personaje desconocido' }}" 
                                             class="big-image">
                                    {% else %}
                                    <img src="{% static 'img/default-character.png' %}" alt="Foto de {{ integrante.nombre }}"
                                             alt="Foto de {{ integrante.personajes.last.nombre|default:'Personaje desconocido' }}" 
                                             class="big-image">
                                    {% endif %}
                                    <div class="card-text2">
                                        <h3 class="card-title card-titulo">{{ integrante.personajes.last.nombre|default:'Sin Personaje' }}</h3>
                                        <p class="card-description card-descripcion">{{ integrante.nombre }}</p>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        {% else %}
                        <li>
                            <p>No hay integrantes disponibles actualmente.</p>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        
            <div class="nosotros-integrantes-redireccion">
                <p class="nosotros-redireccion"><a href="{% url 'integrantes' %}">Ver todos los integrantes</a></p>
            </div>
        </section>
        


        <section class="agenda-section">
            <h1>Nuestras Obras</h1>
            {% for obra in nuestras_obras %}
            <a href="{% url 'detalle_obra' obra.id %}">
                <div class="obras">
                    {% if obra.foto %}
                        <img class="obras-img" src="{{ obra.foto.url }}" alt="{{ obra.titulo }}">
                    {% else %}
                        <img class="obras-img" src="{% static 'img/foto2.jpg' %}" alt="Foto de {{ obra.titulo }} no disponible">
                    {% endif %}
                    <div class="obras-info">
                        <h3 class="obras-info-title">{{ obra.titulo }}</h3>
                        <p class="obras-info-desc">{{ obra.descripcion }}...</p>
                    </div>
                </div>
            </a>
            {% empty %}
                <p class="sin-obras">No hay obras por el momento.</p>
            {% endfor %}
        </section>
        
{%endblock%}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    new Swiper('.card-wrapper', {
        // Optional parameters
        loop: true,
        spaceBetween: 30,
        centeredSlides: true,
        slidesPerView: 'auto', //Si habilito lo de abajo esto lo vuelo

        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
        clickable :true,
        dynamicBullets: true
        },

        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
        // breakpoints : {
        //     0: {
        //         slidesPerView: 1
        //     },
        //     768: {
        //         slidesPerView: 2
        //     },
        //     1024: {
        //         slidesPerView: 'auto'
        //     }
        // }
  });
</script>

{% endblock %}