{% extends "base.html" %}
{% load static %}
{% block title %} Nosotros {% endblock %}
{% block estilos %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nosotros.css'%}">
{% endblock %}

{% block content %}
        <section class="nosotros-section">
            <h2 class="nosotros-titulo">La historia de la</h2>
            <h1 class="nosotros-chocobanda">Chocobanda</h1>
            <p class="nosotros-descripcion">{% lorem 1 b random %}</p>
            {%comment%}
                {% if nosotros %} Si existe el objeto nuestraHistoria. // No estoy seguro de si es así
                    <p>{%nosotros.textPresentation%}</p>
                {% else %}
                    <p>Proximamente...</p>
                {% endif %}
            {%endcomment%}
            <p class="nosotros-redireccion"><a href="/nuestraHistoria">Leer más</a></p>
        </section>

        <section class="integrantes-section">
            <h1>Integrantes</h1>
            <div class="container-integrantes swiper">
                <div class="card-wrapper">
                    <ul class="card-list swiper-wrapper">
                        <li class="card-item swiper-slide">
                            <a href="#" class="card-link">
                                <div class="card-actor">
                                    <img src="{% static 'img/foto-principal.jpg'%}" alt="">
                                </div>
                                <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                                <div class="card-text">
                                    <p class="date">fecha</p>
                                    <h3 class="card-title">titulo</h3>
                                    <p class="card-decription">description</p>
                                </div>
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a href="#" class="card-link">
                                <div class="card-actor">
                                    <img src="{% static 'img/foto-principal.jpg'%}" alt="">
                                </div>
                                <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                                <div class="card-text">
                                    <p class="date">fecha</p>
                                    <h3 class="card-title">titulo</h3>
                                    <p class="card-decription">description</p>
                                </div>
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a href="#" class="card-link">
                                <div class="card-actor">
                                    <img src="{% static 'img/foto-principal.jpg'%}" alt="">
                                </div>
                                <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                                <div class="card-text">
                                    <p class="date">fecha</p>
                                    <h3 class="card-title">titulo</h3>
                                    <p class="card-decription">description</p>
                                </div>
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a href="#" class="card-link">
                                <div class="card-actor">
                                    <img src="{% static 'img/foto-principal.jpg'%}" alt="">
                                </div>
                                <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                                <div class="card-text">
                                    <p class="date">fecha</p>
                                    <h3 class="card-title">titulo</h3>
                                    <p class="card-decription">description</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="nosotros-integrantes-redireccion">
                <p class="nosotros-redireccion"><a href="/">Ver todos los integrantes</a></p>
            </div>

        </section>

        <section class="agenda-section">
            <h1>Nuestras Obras</h1>
            {% comment %}
                {% if nuestras_obras %}
                    {% for obra in nuestras_obras %}
                        <div class="obras">
                            <a href="{% url 'sitioChocobanda:obras_detail' obra.id %}">{{ obra }}</a>
                        </div>
                        <div class="obras">
                            <img class="obras-img" src="{% static 'obra.getPathImg()'%}" alt="foto de una obra">
                            <div class="obras-info">
                                <h3 class="obras-info-title">{{obra.getTitle()}}</h3>
                                <p class="obras-info-desc">Breve descripción de la obra de no más de 3 líneas y utilizar al final 3 puntos</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="nosotros-redireccion">No hay obras por el momento.</p>
                {% endif %}
            {% endcomment %}
            <div class="obras">
                <img class="obras-img" src="{% static 'img/Imagen-noImage.png'%}" alt="sin foto">
                <div class="obras-info">
                    <h3 class="obras-info-title">Nombre de la obra</h3>
                    <p class="obras-info-desc">Breve descripción de la obra de no más de 3 líneas y utilizar al final 3 puntos {% lorem 1 b random %}</p>
                </div>
            </div>
            <div class="obras">
                <img class="obras-img" src="{% static 'img/Imagen-noImage.png'%}" alt="sin foto">
                <div class="obras-info">
                    <h3 class="obras-info-title">Nombre de la obra</h3>
                    <p class="obras-info-desc">Breve descripción de la obra de no más de 3 líneas y utilizar al final 3 puntos {% lorem 1 b random %}</p>
                </div>
            </div>
            <div class="obras">
                <img class="obras-img" src="{% static 'img/Imagen-noImage.png'%}" alt="sin foto">
                <div class="obras-info">
                    <h3 class="obras-info-title">Nombre de la obra</h3>
                    <p class="obras-info-desc">Breve descripción de la obra de no más de 3 líneas y utilizar al final 3 puntos {% lorem 1 b random %}</p>
                </div>
            </div>

            <div class="obras">
                <img class="obras-img" src="{% static 'img/Imagen-noImage.png'%}" alt="sin foto">
                <div class="obras-info">
                    <h3 class="obras-info-title">Nombre de la obra</h3>
                    <p class="obras-info-desc">Breve descripción de la obra de no más de 3 líneas y utilizar al final 3 puntos {% lorem 1 b random %}</p>
                </div>
            </div>
        </section>
{%endblock%}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    new Swiper('.card-wrapper', {
        // Optional parameters
        loop: true,
        spaceBetween: 30,

        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
        clickable :true,
        dynamicBullets: true
        },

        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
        breakpoints : {
            0: {
                slidesPerView: 1
            },
            768: {
                slidesPerView: 2
            },
            1024: {
                slidesPerView: 3
            }
        }
  });
</script>

{% endblock %}