 {% extends "base.html" %}
 {% load static %}
 {% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/novedades.css'%}"> {% endblock %}
 {% block title %} Chocobanda - NOVEDADES {% endblock %}
 {% block nombre_seccion %} Novedades {% endblock %}
 {%block content%}
 

<section class="agenda-section">

    {% if noticias%}
    {% for noticia in noticias%}
    <div class="noticia-desk-section">
       <a href="{% url 'novedad' noticia.id_noticia %}" class="noticia-desk-link">
            <div class="noticia-desk-item">
                <div class="noticia-desk-text">
                    <span>{{noticia.fecha|date:"d M Y"}}</span>
                    <h2>{{noticia.titulo}}</h2>
                    <p class = "noticia-desk-description">{{noticia.cuerpo|truncatewords:30}}</p>
                    {% comment %} <p class="noticia-desk-detail">{{noticia.cuerpo}}</p> {% endcomment %}
                </div>
                <div class="noticia-desk-image card-img">
                    {% if noticia.foto %}
                        <img src="{{ noticia.foto.url }}" alt="" class="card-img">
                    {% else %}
                        <img src="{% static 'img/foto-principal.jpg' %}" alt="" class="card-img">
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% comment %} Este es para mobile {% endcomment %}
    <div class = "card-novedades">
        <ul class="card-list">
            <li class="card-item">
                <a href="#" class="card-link">
                    {% if noticia.foto %}
                        <img src="{{ noticia.foto.url }}" alt="" class="card-img">
                    {% else %}
                        <img src="{% static 'img/foto-principal.jpg' %}" alt="" class="card-img">
                    {% endif %}
                    <div class="card-text">
                        <p class="date">{{noticia.fecha|date:"d M Y"}}</p>
                        <h3 class="card-title">{{noticia.titulo}}</h3>
                        <p class="card-decription">{{noticia.cuerpo|truncatewords:20}}</p>
                    </div>
                </a>
            </li>
    </div>
    {% endfor %}
    {% else %}
        <h1>
            No hay noticias
        </h1>
    {% endif%}



    {% comment %} Este es para mobile {% endcomment %}
    {% comment %} <div class = "card-novedades">
        <ul class="card-list">
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>

        </ul>
    </div> {% endcomment %}
</section>
 {% endblock %}
