 {% extends "base.html" %}
 {% load static %}
 {% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/novedades.css'%}"> {% endblock %}
 {% block title %} Chocobanda - NOVEDADES {% endblock %}
 {% block nombre_seccion %} Novedades {% endblock %}
 {%block content%}
 

<section class="agenda-section">
   
    {% comment %} El siguiente contenido es solo para desktop {% endcomment %}
    <div class="noticia-desk-section">
         <div class="noticia-desk-item"> 
            <div class="noticia-desk-text"> 
                <span>00 del mes de 2024</span> 
                <h2>Título de noticia</h2> 
                <p class = "noticia-desk-description">Breve descripción de la noticia no más de dos líneas. Lorem ipsum dolor sit amet consectetur.</p> 
                <p class="noticia-desk-detail">{% lorem 2 b random %}</p> 
            </div> 
            <div class="noticia-desk-image card-img"> 
                <img src="{% static 'img/foto-principal.jpg'%}" alt="Imagen de noticia"> 
            </div> 
        </div> 
        <div class="noticia-desk-item"> 
            <div class="noticia-desk-text"> 
                <span>00 del mes de 2024</span> 
                <h2>Título de novedad</h2> 
                <p>Breve descripción de la novedad no más de dos líneas...</p> 
                <p class="noticia-desk-detail">{% lorem 2 b random %}</p> 
            </div> 
            <div class="noticia-desk-image"> 
                <img src="{% static 'img/foto-principal.jpg'%}" alt="Imagen de novedad"> 
            </div> 
        </div> 
    </div>

    {% comment %} Este es para mobile {% endcomment %}
    <div class = "card-novedades">
        <ul class="card-list">
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>
            <li class="card-item">
                <a href="#" class="card-link">
                    <img src="{% static 'img/foto-principal.jpg'%}" alt="" class="card-img">
                    <div class="card-text">
                        <p class="date">fecha</p>
                        <h3 class="card-title">titulo</h3>
                        <p class="card-decription">description</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>
 {% endblock %}
