{% extends "base.html" %}
{% load static %}
{% block title %} Nosotros {% endblock %}
{% block estilos %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nosotros.css'%}">
{% endblock %}

{% block content %}
    <section class="nosotros-section">
        <h2 class="nosotros-titulo">La historia de la</h2>
        <h1 class="nosotros-chocobanda">Chocobanda</h1>
        <p class="nosotros-descripcion">{% if ajustes %}{{ ajustes.historia_chocobanda | safe }}{% else %}Próximamente...{% endif %}</p>
        <p class="nosotros-redireccion"><a href="/nosotros">Volver atrás</a></p>
    </section>
{%endblock%}