{% extends "base.html" %}
{% load static %}
{% block estilos %} <link rel="stylesheet" type="text/css" href="{% static 'css/estilos-obra.css'%}">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> 
{% endblock %}
{% block title %} Nosotros - Obra {% endblock %}
{% block nombre_seccion %} Detalle Obras {% endblock %}
{% block content %} 



<section class="seccion-obra">
    <div class="obra-container">
        <h2 class="nombre-obra">{{ obra.titulo }}</h2>
        <div class="descripcion">{{ obra.descripcion }}</div>
        
        <div class="imagen-principal">
            {% if obra.foto %}
                <img src="{{ obra.foto.url }}" alt="Foto de {{ obra.titulo }}">
            {% else %}
                <p>Imagen no disponible</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
